* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Seleciona os elementos da tag body do html*/
body {
  /*background: lightseagreen;*/
  background-image: url('../img/fundo.jpg');
  background-size: 100vw 100vh;
  /* background-size: 300px 250px;*/
  
  /*100% da largura da tela e 100% da altura da tela, auto faz proporcional*/
  /*background-size: 100vw 100vh ;*/
  
  font-family: Arial;
  height: 100vh;
  font-size: 12px;
} 

@media (min-width: 400px) {
  body{
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body{
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body{
    font-size: 22px;
  }
}


header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



/*Seleciona os elementos da classe menu do html*/
.menu {
 /* background-color:black;*/
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul{
  display: flex;
  justify-content: space-evenly;
}

.menu a{
  display: block;
  padding: 10px 20px;
}

/*Seleciona os elementos da tag a do html*/
a {
  color: red;
  text-decoration: none;
}

/*pseudo-classe*/

a:hover{
  text-decoration: underline;
}

/*Todas as li dentro da classe menu(CSS lê da direita pra esquerda) */
.menu li{
  list-style: none;
}

.site-subtitle,
.site-title,
.title{
  color: whitesmoke;
  text-align: center;
}

.site-title{
  font-size: 3em;
}
.site-subtitle{
  font-style: italic ;
}

figcaption{
  font-size: 18px;
}

@media (max-width: 400px) {
  figcaption{
    font-size: 12px;
  }
}

.img-portfolio{
  height: 180px;
  width: 180px;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.img-portfolio{
  margin: 10px;
  padding: 5px;
}

@media (max-width: 500px) {
  .img-portfolio {
    height: 90px;
    width: 90px;
    width: 100%;
    
  }
}