* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*Seleciona os elementos da tag body do html*/
body {
  background: whitesmoke;
  /*background-image: url('../img/fundo.jpg');
  
  background-size: 100vw 100vh;*/

  
  /*100% da largura da tela e 100% da altura da tela, auto faz proporcional*/
  /*background-size: 100vw 100vh ;*/
  
  font-family: 'Roboto Mono', monospace;
  height: 100vh;
  font-size: 12px;
} 

@media (min-width: 400px) {
  body{
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body{
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body{
    font-size: 22px;
  }
}


header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Seleciona os elementos da classe menu do html*/
.menu {
  background-color: rgb(50, 56, 48);
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul{
  display: flex;
  justify-content: space-evenly;
}

.menu a{
  display: block;
  padding: 10px 20px;
  transition: background-color .5s, color .5s;

}

.menu a:active,
.menu a:hover{
  background-color: teal;
  color: whitesmoke;
}

/*Seleciona os elementos da tag a do html*/
a {
  color: teal;
  text-decoration: none;
}

/*pseudo-classe*/

a:hover{
  text-decoration: underline;
}

.titulo {
  animation: ease-in 1s animacaoTitulo forwards;
  /*transform: scale(0.2) translateY(50vh);
  opacity: 0;*/
}

@keyframes animacaoTitulo{
  0%{
    transform: scale(.2) translateY(50vh);
    opacity: 0;
  }
  100%{
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

/*Todas as li dentro da classe menu(CSS lê da direita pra esquerda) */
.menu li{
  list-style: none;
}

.site-subtitle,
.site-title,
.sobre h2,
.portfolio h2,
.contato h2,
.certificações h2{
  color: black;
  text-align: center;
  font-family: 'Crimson Text', serif;
}


.site-title{
  font-size: 4em;
}
.site-subtitle{
  font-style: italic ;
}
/*
.sobre{
  padding: 2em;
  min-height: 60vh;
}*/

.sobre,
.portfolio,
.certificações {
  padding: 2em;
  min-height: 100vh;
}

.contato{
  padding: 2em;
  min-height: 60vh;
}

@media (min-width: 1200px){
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.sobre h2,
.contato h2,
.portfolio h2,
.certificações h2 {
  margin-bottom:1em;
  font-size: 3em;
}

.sobre p {
  color: black;
  margin-bottom: .2em;
  text-indent: 1.4em;
}

.sobre a{
  color: blue;
  text-decoration: underline;
}

.sobre .avatar{
  float:left;
  margin-right: 2em;
}



.portfolio .grid {
  display: grid;
  gap: 4em;
  /*align-content: center*/
  justify-content: center;
}



@media (min-width: 750px){
  .portfolio .grid {
    grid-template-columns: repeat(3,200px);
    height: calc(100vh - 60em - 48px);
  }
}

@media (min-width: 880px){
  .portfolio .grid {
    grid-template-columns: repeat(3,200px);
    height: calc(100vh - 60em - 48px);
  }
}

@media (min-width: 1150px){
  .portfolio .grid {
    grid-template-columns: repeat(4,200px);
    height: calc(100vh - 12em - 48px);
    justify-content: space-evenly; 
  }
}

.portfolio figure{
  text-align: center;
}

.portfolio .grid figcaption{
  padding: .3em;
}

.img-sobre{
  margin: .6em;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  box-shadow: 10px 10px 30px black;
 /* clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);*/

 
}

.img-portfolio{
  margin: .6em;
  height: 180px;
  width: 240px;
  object-fit: cover;
  border-radius: 10%;
  transition: transform 500ms;
  opacity: 0.8;
  box-shadow: 10px 10px 10px black;
}

.img-portfolio:hover{
  transform: scale(1.2);
  opacity: 1.0;
}

.contato a{
  font-size: 5em;
  transition: text-shadow .5s;
}

.contato a:active,
.contato a:hover{
  text-decoration: none;
  text-shadow: 0px 0px 10px rgb(0,0,0,.3);
}

.icons_contato_out {
  text-align: center;
}

.icons_contato {
  color: teal;
}

.certificações ul{
  list-style-type: square;
}